.header
    background-color: $highlight-color
    width: 100%

.menu
    align-items: center
    display: flex

@media screen and (max-width: 400px)
    .menu
        justify-content: center
        margin: 10px 0
        order: 2
        width: 100%

.menu-itens
    margin-bottom: 0
    margin-top: 0
    padding-left: 0

.menu-item
    display: inline-block
    list-style: none

.menu-link
    color: $clor-white
    display: inline-block
    padding: 10px
    text-decoration: none

.profile-header
    margin-left: auto
    width: 230px

@media screen and (max-width: 400px)
    .profile-header
        margin: 10px 0
        order: 1
        text-align: center
        width: 100%

.profile-header-img
    border-radius: 50%
    margin: 5px
    vertical-align: middle

.profile-text
    color: $color-white
    display: inline-block
    margin: 5px