.projects
  width: 100%

.projects-list
  border()
  display: flex
  flex-wrap: wrap
  width: 100%

  .heading-lv1
    margin: 20px 0

.project
  background-color: $color-white
  display: flex
  border()
  flex-wrap: wrap
  margin: 5px
  padding: 10px
  width: calc(50% - 10px)

@media (max-width: 500px)
  .project
    width: calc(100% - 10px)

.project-name
  color: $secundary-color
  font-weight: 300
  margin: 0

.project-star
  align-items: center
  display: flex
  margin-left: auto

.project-star-count
  color: $secundary-color
  margin-left: 5px

.project-description
  color: $secundary-color
  margin: 10px 0 0
  width: 100%
