header.header
    div.container
        nav.menu
            ul.menu-itens
                li.menu-item
                    a.menu-link(href='#') Home
                li.menu-item
                    a.menu-link(href='#') Perfil
        div.profile
            img.profile-img(src="assets/img/marq-avatar-min.jpg" alt="Avatar Image")
            span.profile-text Marquinhus Gonçalves
        
    
