extends ./layouts/default.pug

block content
    main.main.container-centered
        div.profile
            img(srcset="assets/img/marq-avatar.jpg 1x, assets/img/marq-avatar.jpg 2x" src="assets/img/marq-avatar.jpg" class="profile-img" alt="Marquinhus Gonçalves Perfil")
            h1.heading-lv1 Marquinhus Gonçalves
            p.paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac ultrices lacus. Morbi sed ultrices tellus. Nulla tortor purus, rutrum iaculis interdum id, auctor quis elit. Sed libero ante, vulputate vitae vehicula a, fringilla sit amet neque. Nulla facilisi. Ut luctus justo ut cursus sagittis. Proin gravida quis eros eget congue.