// @import "variables.styl"

/* Colors */
highlight-color = #ff0066
secundary-color = #212121
bg-color = #033


/* Box Model */
*
    box-sizing: border-box

// Use this mixin to developer
border()
    // border: 1px dashed #000

.container
    border()
    width: 100%
    max-width: 800px
    margin: 0 auto
    display: flex
    flex-wrap: wrap

/* Partials */
@import 'partials/header.styl'