// @import "variables.styl"

/* Colors */
highlight-color = #ff0066
secundary-color = #212121
bg-color = #033

/* Header */
.header
    width: 100%
    background-color: highlight-color

.menu
    border: 1px dashed black
    display: flex
    align-items: center

.menu-itens
    margin-top: 0
    margin-bottom: 0
    padding-left: 0

.menu-item
    list-style: none
    display: inline-block

.menu-link
    color: #fff
    text-decoration: none
    display: inline-block
    padding: 10px

.container
    border: 1px dashed black
    width: 100%
    max-width: 800px

